/*universal*/
:root {
    --black: #1C262A;
    --darkblue: #264048;
    --lightblue: #68a3b6;
    --darkorange: #CA6F00;
    --lightorange: #FFA20D;
    --white: #FFF7ED;
    --grey: #344044;
    --toppadding: 8vw;
    --sidepadding: 4vw;
    --smallpadding: 2vw;
    --gap: 1vw;
    --dropshadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
}

h1 {
    font-size: clamp(24px, 8vw, 64px);
    font-weight: 700;
    color: var(--white);
}

h2 {
    font-size: clamp(22px, 6vw, 52px);
    font-weight: 500;
    color: var(--white);
}

h3 {
    font-size: clamp(20px, 5vw, 48px);
    font-weight: 700;
    color: var(--white);
    text-align: center;
}

p,
a,
input,
button {
    font-size: clamp(16px, 2vw, 36px);
    font-weight: 500;
    color: var(--white);
}


body {
    background-color: var(--black);
}

/*header*/
header {
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    padding-left: var(--sidepadding);
    padding-right: var(--toppadding);
    background-color: var(--grey);
    transition: 1s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: var(--sidepadding);
    height: 190px;

}

#logo {
    height: 100px;
    transition: 1s;
}

a {
    text-decoration: none;
    color: white;
}

/*end header*/
/*Hero*/

.hero {
    height: 650px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

h1 {
    color: var(--black);
}

h2 {
    color: var(--black);
}

#button {
    text-decoration: none;
    background-color: var(--darkorange);
    color: var(--white);
    display: flex;
    padding: 15px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: var(--dropshadow);
    width: fit-content;
}

/*end Hero*/
/*om mig*/
#ommig{
    padding: var(--toppadding);
}
#underommig{
    display: flex;
    flex-direction: row;
    gap: 52px;
}
#pictureOmmig{
    display: flex;
    flex-direction: column;
    width: 50%;
}

/*anmeldelser*/
.anmeldesler {
    padding: var(--toppadding) var(--sidepadding);
    align-items: center;
}

.anmeldcards {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.anmeldcard {
    background-color: var(--grey);
    border-radius: 15px;
    padding: var(--gap);
    width: 30%;
}

#anmeldtext {
    width: fit-content;

}

#anmeldnavn {
    text-align: right;
}

#anmeldnavn p {
    color: var(--lightorange);
}

/*kontakt*/
.kontaktgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: var(--gap);
    row-gap: var(--gap);
}

.kontaktsection {
    padding: var(--toppadding) var(--sidepadding);
    gap: var(--smallpadding);
    flex-direction: column;
    background-image: url(fotos/background\ img.png);
    object-fit: fill;
    align-items: center;
}

#navn {
    grid-column: 1/2;
    grid-row: 1/2;
}

#tlf {
    grid-column: 1/2;
    grid-row: 2/3;
}

#email {
    grid-column: 1/2;
    grid-row: 3/4;
}

#besked {
    grid-column: 2/3;
    grid-row: 1/4;
    vertical-align: text-top;
}

input {
    background-color: var(--white);
    color: var(--black);
    border-radius: 15px;
    padding: var(--smallpadding);
    border: 2px solid var(--black);
    box-shadow: var(--dropshadow);
}

button {
    text-decoration: none;
    background-color: var(--darkorange);
    color: var(--white);
    display: flex;
    padding: 15px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: none;
    box-shadow: var(--dropshadow);
    width: fit-content;
}

/*footer*/

.footer {
    display: flex;
    padding: var(--rlybigpadding) var(--bigpadding);
    justify-content: space-between;
    align-items: center;
}

.some img {
    width: 75px;
    height: 75px;
}