/*universal*/
:root {
    --black: #1C262A;
    --darkblue: #264048;
    --lightblue: #68a3b6;
    --darkorange: #CA6F00;
    --lightorange: #FFA20D;
    --white: #FFF7ED;
    --grey: #344044;
    --rlybigpadding: 8vw;
    --bigpadding: 4vw;
    --smallpadding: 2vw;
    --gap: 1vw;
}

h1 {
    font-size: clamp(24px, 8vw, 64px);
    font-weight: 700;
    color: var(--white);
}

h2 {
    font-size: clamp(22px, 6vw, 52px);
    font-weight: 500;
    color: var(--white);
}

h3 {
    font-size: clamp(20px, 5vw, 48px);
    font-weight: 700;
    color: var(--white);
}

p,
a {
    font-size: clamp(16px, 2vw, 28px);
    font-weight: 500;
    color: var(--white);
}


body{
    background-color: var(--black);
}
header{
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    padding-left: var(--bigpadding);
    padding-right: var(--rlybigpadding);
    background-color: var(--grey);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: var(--bigpadding);
    height: 190px;

}

#logo{
    height: 100px;
}

a{
    text-decoration: none;
    color: white;
}

/*Hero*/

.hero{
    height: 650px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: var(--black);
}

h2{
    color: var(--black);
}
/*footer*/

.footer {
    display: flex;
    padding: var(--smallpadding) var(--bigpadding);
    justify-content: space-between;
    align-items: center;
}

.some img {
    width: 75px;
    height: 75px;
}