/*universal*/
:root {
    --black: #1C262A;
    --darkblue: #264048;
    --lightblue: #68a3b6;
    --darkorange: #CA6F00;
    --lightorange: #FFA20D;
    --white: #FFF7ED;
    --grey: #344044;
    --toppadding: 8vw;
    --sidepadding: 4vw;
    --smallpadding: 2vw;
    --gap: 1vw;
    --dropshadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
}

h1 {
    font-size: clamp(24px, 8vw, 64px);
    font-weight: 700;
    color: var(--black);
}

h2 {
    font-size: clamp(22px, 6vw, 52px);
    font-weight: 500;
    color: var(--black);
}

h3 {
    font-size: clamp(20px, 5vw, 48px);
    font-weight: 700;
    color: var(--white);
    text-align: center;
    margin: 0;
}

h4 {
    font-size: clamp(18px, 2vw, 36px);
    color: var(--white);
    text-align: center;
}

p,
a,
input,
button,
textarea,
li {
    font-size: clamp(16px, 2vw, 36px);
    font-weight: 500;
    color: var(--white);
}


body {
    background-image: url(fotos/bcgimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Exo", sans-serif;
}

#smalllink:hover {
    text-decoration: underline;
    text-decoration-color: var(--darkorange);
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
}

#smalllink:hover:first-line {
    text-decoration-color: var(--darkorange);
}

/*header*/
header {
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    padding-left: var(--sidepadding);
    padding-right: var(--toppadding);
    background-color: var(--grey);
    transition: 1s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: var(--sidepadding);
    height: 190px;

}

#logo {
    height: 100px;
    transition: 1s;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: var(--lightblue);
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
}

a:hover:first-line {
    text-decoration: underline;
    text-decoration-color: var(--lightorange);
    text-decoration-thickness: 3px;
}

.dropdownMenu {
    position: relative;
    display: none;
}


.dropdownContent {
    display: none;
    position: absolute;
    background-color: var(--darkblue);
    border-radius: 25px;
    box-shadow: var(--dropshadow);
    z-index: 1;
    width: fit-content;
}

.dropdownContent a {
    padding: 10px;
    text-decoration: none;
}


.dropdownMenu:hover .dropdownContent {
    display: block;
    display: flex;
    flex-direction: column;
}

/*end header*/
/*Hero*/
.hero {
    height: 650px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

#button {
    text-decoration: none;
    background-color: var(--darkorange);
    color: var(--white);
    display: flex;
    padding: 15px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: var(--dropshadow);
    width: fit-content;
    transition: 1s;
}

#button:hover {
    background-color: var(--lightorange);
}

/*end Hero*/
/*om mig*/
#ommig {
    padding: var(--toppadding) var(--sidepadding);
    display: flex;
    flex-direction: column;
    gap: var(--smallpadding);
}

#underommig {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

#pictureOmmig {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

/*end om mig*/

/*ydelser*/
#minYdelser {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--sidepadding);
    gap: var(--sidepadding);

}

#Ydelser {
    display: flex;
    flex-direction: row;
    gap: var(--smallpadding);
    align-self: stretch;
}

.work {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    width: 30%;
    border-radius: 15px;
    box-shadow: var(--dropshadow);
}

.workPictures {
    height: 312px;
    border-radius: 15px;
}

.textWork {
    display: flex;
    padding: 20px;
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

span {
    color: var(--lightorange);
}

.servicecards {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    align-items: center;
}

#myservices {
    padding: var(--toppadding) var(--sidepadding);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-top: 50px;
    align-items: center;
}

#workimage {
    box-shadow: var(--dropshadow);
    width: 50%;
    height: auto;
}


/*luftpumpe*/
.luftpumpe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--smallpadding);
}

#luftpumpepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.luftpumpe,
#luftpumpepage {
    padding: var(--toppadding) var(--sidepadding) 0 var(--sidepadding);
}

.luftpumpecontent {
    display: flex;
    gap: var(--smallpadding);
    align-items: center;
}

#luftpummpetext,
#luftpumpeimg {
    width: 50%;
}

#luftpumpeimg image {
    box-shadow: var(--dropshadow);
}

#luftpumpemain {
    text-align: center;
}

/*anmeldelser*/
.anmeldesler {
    padding: var(--toppadding) var(--sidepadding);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--smallpadding);
}

.anmeldcards {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.anmeldcard {
    background-color: var(--grey);
    border-radius: 15px;
    padding: var(--gap);
    width: 30%;
    box-shadow: var(--dropshadow);
}

#anmeldtext {
    width: fit-content;
}

#anmeldnavn {
    text-align: right;
}

#anmeldnavn p {
    color: var(--lightorange);
}

/*kontakt*/
.kontaktgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: var(--gap);
    row-gap: var(--gap);
    width: 100%;
}

.kontaktsection {
    display: flex;
    padding: var(--toppadding) var(--sidepadding);
    gap: var(--smallpadding);
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(fotos/background\ img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#navn {
    grid-column: 1/2;
    grid-row: 1/2;
}

#tlf {
    grid-column: 1/2;
    grid-row: 2/3;
}

#email {
    grid-column: 1/2;
    grid-row: 3/4;
}

#besked {
    grid-column: 2/3;
    grid-row: 1/4;
    line-height: 1.4;
}

input,
textarea {
    background-color: var(--white);
    color: var(--black);
    border-radius: 15px;
    padding: var(--smallpadding);
    border: 2px solid var(--black);
    box-shadow: var(--dropshadow);
}

button {
    text-decoration: none;
    background-color: var(--darkorange);
    color: var(--white);
    display: flex;
    padding: 15px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: none;
    box-shadow: var(--dropshadow);
    width: fit-content;
}

/*kalender*/

.calendarpadding {
    padding: var(--toppadding) var(--sidepadding);
}

.calendar {
    display: flex;
    padding: 80px 60px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;
    flex: 1 0 0;
    background-color: #232D31;
    border-radius: 15px;
}

#month img {
    width: 38.557px;
    height: 53.235px;
}

#month {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: left;
    gap: var(--sidepadding);
    align-items: center;
}

.weekday {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
}

.calendargrid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
}

.calendargrid div {
    background-color: var(--grey);
    border-radius: 15px;
    padding: 8px 32px 122px 31px;

}

/*footer*/
.footer {
    display: flex;
    padding: var(--smallpadding) var(--sidepadding);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--black);
}

.footerimg {
    display: flex;
    gap: var(--gap);
}

.some img {
    width: 75px;
    height: 75px;
}

/*andre sider */
#myservicespage,
#luftpumpepage,
#ommigpage,
.minepriserpage,
.kontaktsectionpage {
    margin-top: 15vh;
    padding: var(--toppadding) var(--sidepadding);
}

.servicegap {
    display: flex;
    flex-direction: column;
    gap: var(--smallpadding);
    padding: var(--smallpadding) 0;
}

#myservicespage {
    display: flex;
    flex-direction: column;
    gap: var(--smallpadding);
}

.fokusområde, 
#minePriser {
    display: flex;
    flex-direction: column;
    gap: var(--smallpadding);
    padding: var(--smallpadding) 0;
    align-items: center;
}

/*pris*/
#minePriser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prispakker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pakker {
    border: 1px solid #FFF7ED;
    width: 75%;
    text-align: center;
}

#round {
    border: 1px solid #FFF7ED;
    border-radius: 15px 15px 0 0;
    width: 75%;
    text-align: center;
}

#corners {
    border: 1px solid #FFF7ED;
    border-radius: 0 0 15px 15px;
    width: 75%;
    text-align: center;
}

@media screen and (max-width: 715px) {

    .navbar {
        display: none;
    }

    .dropdownMenu {
        display: block;
    }

    #underommig,
    .luftpumpecontent {
        flex-direction: column;
        align-items: center;
    }

    .servicecards {
        flex-direction: column;
    }

    #workimage {
        width: 100%;
    }

    #pictureOmmig {
        width: 100%;
    }

    #luftpummpetext,
    #luftpumpeimg {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        gap: var(--smallpadding);
        padding: var(--sidepadding) 0;
    }

    .some img {
        width: 50px;
        height: 50px;
    }

    .kontaktgrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        column-gap: var(--gap);
        row-gap: var(--gap);
        width: 100%;
    }

    #navn {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #tlf {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #email {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #besked {
        grid-column: 1/2;
        grid-row: 4/7;
    }
}

@media screen and (max-width: 1024px) {
    #Ydelser {
        flex-direction: column;
    }

    .work {
        width: 100%;
    }
}